<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
        <table class="table">
            <tbody>
                <tr>
                    {% if screencap %}
                    <td scope="row"> <img src="{{ url_for('screencap') }}" width="100%"></td>
                    {% endif %}
                    <td scope="row"> <img src="/video_feed" width="100%"></td>
                </tr>               
            </tbody>
        </table>          
        </div>
    </div>
</div>
</body>
